*
{
	margin: 0;
	padding: 0;
}

.container
{
	padding: 0 15px;
	margin: 0 auto;
}

.header
{
	color: white;
	padding: 20px;
	background: #151c39e8;
}

.menu-item
{
	list-style: none;
}

.menu-link
{
	text-decoration: none;
	color: white;
	padding: 0 5px;
}

.menu
{
	display: flex;
	flex-direction: row;
}

.header-logo
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-row
{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 50px;
}

.header-logo
{
	display: flex;
	flex-direction: row;   
	align-items: center;
	flex-grow: 1;
}

.banner-section
{
	background: url(images/banner-bg.jpg);
	padding: 100px 0;
	background-size: cover;
}

.banner-text
{
	color: white;
	text-align: center;
}

.banner-title
{
	font-size: 48px;
}

.footer
{
	background: url(images/footer-bg.jpg);
	background-size: cover;
	padding: 100px 0;
}

.copyright
{
	color: white;
}

/* CARDS */

.cards-section
{
	padding: 50px 0px;
}

.cards-title, .cards-description
{
	color: #151c39;
	text-align: center;
}

.card
{
	padding: 25px;
	margin-top: 25px;
	width: 25%;
	background: white;
	box-shadow: 0px 2px 7px #9e90ff;
	text-align: center;
}

.card:hover
{ 
	box-shadow: 0px 10px 30px #9e90ff; 
}

.card-link
{
	text-decoration: none;
	color: white;
}

.card-button
{
	text-align: center;
	background: #151c39;
	padding: 10px 70px;
	border-radius: 10px;
}

.card-title, .card-text
{
	margin-bottom: 10px;
}

.cards-row
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}